*{
    margin: 0px;
    /* outline: 2px solid red; */
    font-family: roboto;
}

.header, .body{
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 80px;
    font-family: roboto;
    background-color: #1f2937;
    color: #f9faf8;
}
.header, .body{
    display: flex;
}

.header{
    padding-top: 50px;
    font-size: 25px;
    justify-content: flex-end;
    gap: 40px;
}

.body{
    justify-content: space-between;
    padding-bottom: 60px;
    gap: 60px;
}

#header-logo{
    font-family: Roboto;
    flex:auto;
    font-weight: 900;

}
#second-header{ 
    font-weight: 900;
    font-size: 40px;
}
#button1{
    margin-top: 10px;
    background-color: rgb(89, 148, 231);
    color: whitesmoke;
    border-radius: 10px;
    font-size: 32px;
    width: 150px;
    height: 60px;
   
}

#body2-text{
    padding-top: 20px;
    padding-bottom: 25px;
    justify-content: center;
    font-size: 35px;
    font-weight: 900;
    font-family: roboto;
    display: flex;
}

.body2-shapes, .body2-rectangles{
    justify-content: space-around;
    padding-left: 500px;
    padding-right: 500px;
    display: flex;
}
.rectangles1, .rectangles2, .rectangles3,.rectangles4{
    border-radius: 10px;
    border: 4px solid white;
    height: 250px;
    width: 150px;
    font-size: 15px;
    padding: 5px;
}
.rectangle-shapes{
    border-radius: 10px;
    border: 2px solid rgb(85, 141, 213);
    height: 150px;
    width: 150px;
}
.text-in-text{
    margin-top: 10px;
    font-size: 20px;
    color: grey;
    text-align: center;
}

.grey-area{
    background-color: rgb(245, 245, 245);
    height: 300px;
    padding-left: 550px;
    padding-right: 550px;
}
.inline-paragraph{
    margin-top: 20px;
    padding-top: 60px;
    font-size: 35px;
    display: flex;
    justify-content: center;

}
.lastwhite{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-lastwhite{
    background-color: rgb(89, 148, 231);
    border-radius: 10px;
    border: 1px solid rgb(85, 141, 213);
    height: 120px;
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
#button2{
    margin-top: 20px;
    background-color: rgb(89, 148, 231);
    color: whitesmoke;
    border-radius: 10px;
    font-size: 23px;
    width: 150px;
    height: 55px;
    border: 1px solid white;
}
.footer{
    background-color: #1f2937;
    display:flex;
    height: 60px;
    font-size: 20px;
    color: white;
    justify-content: center;
    align-items: center;
}





