*{
    margin: 0px;
    /* outline: 2px solid red; */
}

.header, .body{
    padding-left: 700px;
    padding-right: 700px;
    padding-top: 150px;
    font-family: roboto;
    background-color: #1f2937;
    color: #f9faf8;
}
.header, .body{
    display: flex;
}

.header{
    padding-top: 50px;
    font-size: 35px;
    justify-content: flex-end;
    gap: 40px;
}

.body{
    justify-content: space-between;
    padding-bottom: 80px;
    gap: 60px;
}

#header-logo{
    font-family: Roboto;
    flex:auto;
    font-weight: 900;

}
#second-header{ 
    font-weight: 900;
    font-size: 65px;
}
#button1{
    margin-top: 20px;
    background-color: rgb(89, 148, 231);
    color: whitesmoke;
    border-radius: 10px;
    font-size: 32px;
    width: 150px;
    height: 61px;
   
}

#body2-text{
    padding-top: 50px;
    padding-bottom: 30px;
    justify-content: center;
    font-size: 40px;
    font-weight: 900;
    font-family: roboto;
    display: flex;
}

.body2-shapes, .body2-rectangles{
    justify-content: space-around;
    padding-left: 700px;
    padding-right: 700px;
    display: flex;
}
.rectangles1, .rectangles2, .rectangles3,.rectangles4{
    border-radius: 10px;
    border: 4px solid white;
    height: 400px;
    width: 250px;
    font-size: 20px;
    padding: 10px;
}
.rectangle-shapes{
    border-radius: 10px;
    border: 4px solid rgb(85, 141, 213);
    height: 280px;
    width: 250px;
}
.text-in-text{
    margin-top: 10px;
    font-size: 30px;
    color: grey;
}

.grey-area{
    background-color: rgb(245, 239, 239);
    height: 400px;
    padding-left: 700px;
    padding-right: 700px;
}
.inline-paragraph{
    margin-top: 120px;
    padding-top: 100px;
    font-family: Roboto;
    font-size: 46px;
    display: flex;
    justify-content: center;

}
.lastwhite{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-lastwhite{
    background-color: rgb(89, 148, 231);
    border-radius: 10px;
    border: 4px solid rgb(85, 141, 213);
    height: 200px;
    width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
#button2{
    margin-top: 20px;
    background-color: rgb(89, 148, 231);
    color: whitesmoke;
    border-radius: 10px;
    font-size: 32px;
    width: 150px;
    height: 61px;
    border: 4px solid white;
}
.footer{
    background-color: #1f2937;
    display:flex;
    height: 120px;
    font-size: 24px;
    color: white;
    justify-content: center;
    align-items: center;
}





